<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/app.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>User Profile Page</title>
  </head>

  <body>
    <h1>Welcome to <%= user.name %>'s Profile Page</h1>

    <form action="/users/profile/<%=user.id%>?_method=PUT" method="POST">
      First Name: <input type="text" name="firstname" value="<%=user.firstname%>" /><br />
      <br />
      Last Name: <input type="text" name="lastname" value="<%=user.lastname%>" /><br />
      <br />
      Username:
      <input type="text" name="username" value="<%=user.username%>" />
      <br />
      <br />
      Password:
      <input type="password" name="password" value="<%=user.password%>" /><br />
      <br />
      <input type="submit" value="Update Profile" />
    </form>
    <br />
    <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete User" />
    </form>

    <br /><br />
    <a href="/">Back to Homepage</a>
  </body>
</html>
