<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="/css/app.css" />
    <title></title>
  </head>

  <body>
    <h1>Edit your recipe</h1>
    <form action="/recipes/<%= recipe.id%>?_method=PUT" method="POST"></form>
    <div class="back">      
        <div>Title: <input type="text" name="title" value="<%=recipe.title %>" /></div>
        <div>Description: <input type="text" name="description" value="<%=recipe.description %>" /></div>
        <div>Category
        <select name="category">
          <% for ( let i = 0; i < categories.length; i++ ) { let selected = ( i == 0
          ) ? "selected" : ""; %>
          <option value="<%=categories[i].id%>" selected
            ><%=categories[i].name%>
          </option>
          <% } %>
        </select></div>
        <div>Instructions: <textarea rows="20" cols="75" name="instructions"><%=recipe.instructions %></textarea> </div>
        <div><input type="submit" name="" value="Submit Changes" /></div>
      </form>
    </div>
  </body>
</html>
