<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="/css/app.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title></title>
  </head>

  <body>
    <h1>Edit your recipe</h1>
    <form action="/recipes/<%= recipe.id%>?_method=PUT" method="POST">
    <div class="container">      
        <div>Title: <input class="title" type="text" name="title" value="<%=recipe.title %>" /></div>
        <div>Category
        <select name="category" class="category">
          <option value="<%= recipe.category%>"><%= recipe.category%></option>
          <option value="Entree">Entree</option>
          <option value="Casserole">Casserole</option>
          <option value="Side Dish">Side Dish</option>
          <option value="Appetizer">Appetizer</option>
          <option value="Dessert">Dessert</option>
          <option value="Salad">Salad</option>
        </select></div>
        <div><textarea  class="ingredients" rows="10" cols="50" name="Ingredients"><%=recipe.ingredients %></textarea> </div>
        <div><textarea  class="instructions" rows="10" cols="50" name="instructions"><%=recipe.instructions %></textarea> </div>
        <div><input type="submit" name="sumbit" value="Submit Changes" /></div>
         </div> 
        </form>
  </body>
</html>
