<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Recipe Share</title>
  </head>

  <body>
    <h1>Recipe Information</h1>
    <div class="spacer"></div>
    <nav>
      <% if(!cookieId){%><a href="/auth/signup">Sign Up  ||<% } %></a>
      <% if(!cookieId){%><a href="/auth/login">Log In  ||<% } %></a>
      <a href="/auth/logout">Log Out  ||</a>
      <a href="/users/profile/<%=cookieId%>">My Profile</a>
    </nav>
    <div class="spacer"></div>
    <div class="container">
    <div class="title"><%=recipe.title%></div>
    <div class="submittedBy">Submitted by: <%=submittedBy%></div>
    <div class="category"><%=recipe.category%></div>
    <div class="ingredients"><%=recipe.ingredients%></div>
    <div class="instructions"><%=recipe.instructions%></div>
    <div class="spacer"></div>
    <div>
      <% if (recipe.userId === cookieId){ %>
        <a href="/recipes/<%=recipe.id%>/edit">Make changes to this recipe.</a>
        <%}%> 
    </div>
    <div class="spacer"></div>
    <div>
      <% if (recipe.userId === cookieId){ %>
        <form action="/recipes/<%= recipe.id %>?_method=DELETE" method="POST">
          <input type="submit" value="DELETE This Recipe"></form>
      <%}%>  
        </div>
          <div class="spacer"></div>
    <div><a href="/recipes">Back to All Recipes</a></div>
  </div>
  </body>
</html>
