<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <title></title>
  </head>

  <body>
    <h1>Fruits show page</h1>
    <div class="container">
      <div>
      The <%= fruit.name %> is <%= fruit.color %>. <% if (fruit.readyToEat === true) { %> It is ready to eat <% } else {
      %> It is not ready to eat <% } %>
    </div>
    <div>The fruit was added by: <%=fruit.User.name  %></div>
    <div>
      <h3>It is available in Seasons:</h3>
    <% for (let i=0; i< fruit.Seasons.length; i++){ %>
    <li>
      <a href="/seasons/<%=fruit.Seasons[i].id%>"><%=fruit.Seasons[i].name%></a>
    </li>
    <br />
    <% } %>
    </div>
    <div class="back">
      <form action="/fruits/<%= fruit.id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE <%= fruit.name %>" />
      </form>
    </div>
    <a href="/fruits">Back to All Fruits</a>
  </div>
  </body>
</html>
